


.btn, .btn:active, .btn.sApp-btn:before, .benifits-item:after {
    background: linear-gradient( 
45deg
 , #4ca54c, #74bb47);
}

#how_work .nav-tabs > li.active {
    float: left;
    margin-bottom: -1px;
}

#how_work .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

header .header_top {
    background: #4ca54c;
}

    header .header_top ul {
        padding: 0;
        margin: 0;
    }

        header .header_top ul li {
            display: inline-block;
            padding: 8px 0;
        }
		
		
.login_img1
{
  display: none;
  width: 32px;
}

.login_img1 a
{
    position: relative;
    left: -50px;
}

@media (max-width: 991px) {
 
  .login_img1
  {
    display: block;
  }
}


.single-price-plan {
    margin-bottom: 50px;
    height: 480px;
    padding: 20px 0;
}
@media (min-width: 768px) and (max-width: 1080px) {
    .single-price-plan .plan-price > h2 > sup {
        top: 0;
    }
}
header .header_top ul li a {
    color: white;
    font-weight: 300;
    padding: 0 8px;
    border-right: 1px solid;
}

.border_none {
    border-right: transparent !important;
}

header .header_top ul li a i {
}

.welcome-intro p {
    font-size: 1.3rem;
}

.service-text {
    padding-top: 10px;
}

#review {
    background: url(../img/bg/inner-bg1.jpg);
}


    #review h2 {
        color: white;
    }

    #review .client-name, #review .client-address, #review .client-text p {
        color: white;
    }


.fade:not(.show) {
    opacity: 1 !important;
}

.vdg-logbook-flow-tab-section .nav.nav-tabs li a {
    padding: 10px;
    display: block;
}

.plan-description {
    padding: 0 10px;
}

.price_content {
    display: block;
    padding: 100px 0 0px;
    text-align: center;
}

.login_img img {
    width: 24px;
}

.login-register-btn-mobile {
    display: none;
}

.login_desktop {
    display: block;
}


    .login_desktop a {
        padding-top: 29px !important;
    }

.navbar.navbar-sticky-on .login_desktop a {
    padding-top: 24px !important;
}

.social_img {
}

    .social_img ul li {
        display: inline-block;
        width: 30px;
        margin-right: 14px;
        height: 30px;
    }

        .social_img ul li a img {
            width: 100%;
        }






.blog_section {
    padding: 100px 0;
}





    .blog_section .und-blle h2 {
        color: #4eb34b;
        font-weight: bold;
        line-height: 30px;
        text-align: left;
        padding: 10px 0px 20px 0px;
        margin: 0px 0px 0px 0px;
    }

    /*.blog_section .inner-bl h1
{
    font-size: 14px;
    font-family: Calibri;
    font-weight: bold;
}*/
    .blog_section .blog-content p {
    }

    .blog_section .und-blle p {
        color: #474343;
        font-weight: 400;
        text-align: left;
        padding: 0px 0px 10px 0px;
        margin: 0px 0px 0px 0px;
    }


    .blog_section .undIm img {
        width: 100%;
    }

    .blog_section .und-blle a {
        background-color: #197eba;
        background: linear-gradient(to left,#4eb34b,#4ca54c);
        padding: 12px 24px;
        margin: 10px 0px;
        color: #FFF;
        font-size: 14px;
        font-weight: 200;
        text-decoration: none;
        float: left;
        text-transform: uppercase;
        border: 0px;
        border-radius: 4px;
        display: block;
    }

    .blog_section .bl-lefo {
        width: 100%;
        padding: 0 0px 20px 0px;
        margin: 0px;
        display: inline-block;
    }

    .blog_section .und-blle {
        display: inline-block;
        padding: 0px;
        margin: 0px 0px 20px 0px;
        width: 100%;
    }

    .blog_section .undIm {
        display: block;
        margin-bottom: 15px;
    }

    .blog_section .bogRight .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #4fb84b;
        border-radius: .25rem;
        height: auto !important;
    }

    .blog_section .my-4 h5 {
        color: #fff;
        font-size: 16px;
        font-weight: normal;
        line-height: normal;
        text-align: left;
        padding: 10px;
        margin: 0px 0px 0px 0px;
        text-transform: uppercase;
        font-weight: 500;
        background: linear-gradient(to top,#4ca54c,#50c14a);
    }

    .blog_section .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
    }

    .blog_section .input-group-addon, .blog_section .input-group-btn {
        width: 1%;
        white-space: nowrap;
        vertical-align: middle;
    }

    .blog_section .input-group .form-control {
        position: relative;
        z-index: 2;
        float: left;
        width: 100%;
        margin-bottom: 0;
    }

    .blog_section .my-4 li a {
        color: #929497;
        font-size: 14px;
        font-weight: 200;
        text-decoration: none;
    }

    .blog_section .my-4 li span {
        display: inline-block;
        margin-right: 8px;
    }

    .blog_section .my-4 li a {
        color: #505050;
        font-size: 14px;
        font-weight: 200;
        text-decoration: none;
    }

    .blog_section .my-4 li span {
        display: inline-block;
        margin-right: 8px;
    }

    .blog_section .my-4 li {
        padding: 5px 0px;
        margin-bottom: 5px;
        border-bottom: 1px dashed #CCC;
        text-align: left;
    }

    .blog_section .my-4 ul {
        display: block;
        padding: 10px;
        margin: 0px;
        list-style: none;
    }

    .blog_section .card-body input {
        position: relative;
    }

    .blog_section .card-body span button {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 99;
        background: #4eaf4c;
    }


    .blog_section .form-control {
        font-size: 15px;
        height: 52px;
        border: none;
        outline: none;
        padding-left: 20px;
        border-radius: 8px;
        -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    }

    .blog_section .inner-bl p {
        color: #474343;
        font-size: 12px;
        font-weight: 400;
        text-align: left;
        padding: 0px 0px 10px 0px;
        margin: 0px 0px 0px 0px;
    }

    .blog_section .inner-bl .blgBk {
        background: linear-gradient(to left,#4eb34b,#4ca54c);
        padding: 11px 24px;
        margin: 45px 0px;
        color: #FFF;
        font-size: 14px;
        font-weight: 200;
        text-decoration: none;
        float: left;
        text-transform: uppercase;
        border: 0px;
        cursor: pointer;
        border-radius: 4px;
        display: block;
    }

    .blog_section .blog-content {
        margin-top: 20px;
    }

    .blog_section .socl a {
        display: inline-block;
        vertical-align: top;
        margin-right: 5px;
    }

    .blog_section .socl {
        margin: 10px 0 30px;
    }



    .blog_section .searchmobile {
        display: none;
    }

    .blog_section .searchdekstop {
        display: block;
    }





.register {
    background: -webkit-linear-gradient(left, #59b246, #28a745);
    padding: 5% 0;
    height: auto;
}

.register-left {
    text-align: center;
    color: #fff;
    margin-top: 4%;
}

    .register-left h3 {
        color: white;
    }


    .register-left .login_button {
        border: none;
        border-radius: 0;
        padding: 10px 40px;
        width: auto;
        background: #f8f9fa;
        font-weight: bold;
        color: #383d41;
        margin-top: 20px;
        cursor: pointer;
        display: inline-block;
    }

.register-right {
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}

.register-left img {
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

.register-left p {
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}

.register .register-form {
    padding: 5% 10%;
}

.btnRegister {
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}

.btnRegister1 {
    border: none;
    border-radius: 0;
    padding: 14px 50px;
    background: #32aa45;
    color: #fff !important;
    font-weight: 600;
    display: inline-block;
    cursor: pointer;
}

    .btnRegister1:hover {
        color: white;
    }

.billing_address {
    display: none;
    border: 1px solid #bfbfbf;
    padding: 30px;
    margin-bottom: 50px;
}

.Buttons_g button {
    background: #2b9a56;
    color: white;
    border: white;
    padding: 10px 30px;
    width: 180px;
}


.Buttons_ga button {
    background: #2b9a56;
    color: white;
    border: white;
    padding: 10px 30px;
    width: 180px;
    display: none;
}

.maxl h4 span {
    font-weight: normal;
    font-size: 14px;
}

.maxl label {
    display: inline-block;
    margin-bottom: .5rem;
    padding-right: 14px;
}

.register .nav-tabs {
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}

    .register .nav-tabs .nav-link {
        padding: 2%;
        height: 34px;
        font-weight: 600;
        color: #fff;
        border-top-right-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
    }

        .register .nav-tabs .nav-link:hover {
            border: none;
        }

        .register .nav-tabs .nav-link.active {
            width: 100px;
            color: #0062cc;
            border: 2px solid #0062cc;
            border-top-left-radius: 1.5rem;
            border-bottom-left-radius: 1.5rem;
        }

.register-heading {
    text-align: center;
    margin-top: 8%;
    margin-bottom: 0;
    color: #495057;
    font-size: 20px;
}



.work-area .single-work.last_one:after {
    display: none;
}




/*---------------media-query------------*/


@media (max-width:991px) {

    .searchmobile {
        display: block !important;
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #4eb04c;
        border-radius: .25rem;
        height: auto !important;
    }

    .searchdekstop {
        display: none !important;
    }

    .navbar-dark .navbar-brand {
        color: #000;
        width: 50%;
    }
}


.inner-bl {
    display: inline-block;
}

.blgBk a {
    color: white;
}

#free_trial_sce {
    background: black;
    text-align: center;
    padding: 10px;
}

    #free_trial_sce .free_trial p {
        color: white;
        padding-right: 20px;
        font-weight: 500;
        font-style: italic;
        display: inline-block;
    }

    #free_trial_sce .free_trial a {
        font-style: normal;
        padding: 6px 12px;
        font-size: 12px;
    }




#quick {
    padding: 100px 0;
}

    #quick .section-heading h2, #how_work .section-heading h2, #download .section-heading h2, #logblook_business .section-heading h2 {
        color: #4ca54c;
    }

    #quick .content {
        padding: 30px 0 0;
    }

        #quick .content ul {
            padding-left: 40px;
        }

            #quick .content ul li {
                position: relative;
                height: 90px;
            }


                #quick .content ul li:before {
                    font-family: "FontAwesome";
                    content: "\f00c";
                    position: absolute;
                    top: -2px;
                    left: -38px;
                    font-size: 22px;
                    color: #000;
                }


/*#featured {
    background: rgba(0, 0, 0, 0) url(../img/bg/welcome-bg.jpg) no-repeat scroll center center/cover;
    padding: 100px 0;
}*/

    #featured .section-heading h2, #pricing .section-heading h2, #contact .section-heading h2 {
        color: white;
    }

    #featured .single_feature {
        margin-bottom: 30px;
    }

        #featured .single_feature .feature_img {
            margin-bottom: 30px;
        }


            #featured .single_feature .feature_img img {
                width: auto;
                margin: 0 auto;
                height: 120px;
            }

        #featured .single_feature .featured_content h4 {
            color: white;
            height: 40px;
        }

        #featured .single_feature .featured_content p {
            color: white;
            height: 100px;
            overflow: hidden;
        }


#how_work, #download, #logblook_business {
    padding: 100px 0;
}

/*#pricing {
    background: rgba(0, 0, 0, 0) url(../img/bg/welcome-bg.jpg) no-repeat scroll center center/cover;
    padding: 100px 0;
}*/

    #pricing .section-heading h2 {
        margin-bottom: 20px;
    }

    #pricing .section-heading p {
        color: white;
    }

    #pricing .plan-price {
        height: 64px;
        overflow: hidden;
    }

.single-price-plan .plan-button a {
    background: #2c9b57;
    color: #ffffff;
    display: block;
}


#download .section-heading {
    margin-bottom: 30px;
}

#download .button-group {
    margin-top: 0px;
    padding: 24px 0;
}

/*#contact {
    background: rgba(0, 0, 0, 0) url(../img/bg/welcome-bg.jpg) no-repeat scroll center center/cover;
    padding: 100px 0;
}*/


footer {
    padding: 100px 0;
}

    footer .contact-us .social-icon {
        background-color: #4ca54c00;
        color: #4ca54c;
    }












/*logbook for business*/
/*#logblook_business {
    background: url(../img/bg/green_bg.png);
}*/




    #logblook_business .single_feature {
        margin: 0 20px 30px;
    }

        #logblook_business .single_feature .feature_img {
            margin-bottom: 30px;
        }


            #logblook_business .single_feature .feature_img img {
                width: auto;
                margin: 0 auto;
                height: 120px;
            }

        #logblook_business .single_feature .featured_content h4 {
            height: 40px;
        }

        #logblook_business .single_feature .featured_content p {
            overflow: hidden;
        }



/*modal*/

.note_modal .modal-dialog {
    max-width: 250px;
    margin: 7.75rem auto;
}

.note_modal .modal-header {
    text-align: center;
    display: block;
    border: none;
}

.note_modal .modal-body {
    text-align: center;
}

.note_modal .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 20px;
    font-weight: 500;
    color: #1c9c44;
}

.note_modal .modal-footer {
    border: none;
    margin: 0 auto;
}

.note_modal .modal-body label {
    color: #1c9c44;
}

.note_modal .modal-body textarea {
    border-radius: 0;
}

.note_modal .modal-content {
    border-radius: 0;
    padding: 20px;
}

.note_modal .modal-footer button {
    display: inline-block;
}

    .note_modal .modal-footer button.btn_cancel {
        background: linear-gradient( 45deg, #4ca54c, #74bb47);
        border: none;
        padding: 8px 25px;
        color: white;
    }

.note_modal .enq-dialog {
    max-width: 500px;
}

    .note_modal .enq-dialog .modal-body input, .note_modal .enq-dialog .modal-body textarea {
        background: #f2f2f2;
    }

.mail-icon {
    font-size: 40px;
    /* text-align: center; */
    border: 2px solid green;
    width: 40%;
    border-radius: 50%;
    margin: auto;
    color: green;
    margin-bottom: 10px;
}
/*business payment page*/

#singup_page .form-group input, #singup_page .form-group select {
    border: 1px solid #e1e1e1;
}


/*radio checkbox*/
#singup_page input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

#singup_page input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #2b9a56;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

/***********Responsive**************/
@media only screen and (max-width: 1200px) {
    .welcome-area {
        height: 650px;
        z-index: 1;
    }
}



@media only screen and (max-width: 1024px) {
    .single-price-plan .plan-price > h2 {
        font-size: 20px;
    }

    .single-price-plan .plan-title h4 {
        font-size: 15px;
    }

    .single-work h3 {
        font-size: 20px;
    }

    .plan-features li a {
        word-break: break-all;
    }

    .single-price-plan .btn {
        font-size: 13px;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1200px) {

    .store-buttons.store-black img {
        max-width: 100%;
    }
}





@media only screen and (max-width: 992px) {

    .border_none {
        display: none;
    }

    .main_menu {
        padding: 16px 0;
    }

    .navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
    }
}




@media only screen and (min-width: 768px) and (max-width: 991px) {
}

@media only screen and (max-width: 768px) {

    .hidden_xs {
        display: none;
    }

    .navbar-brand {
        display: inline-block;
        margin-right: 0;
        padding-left: 0;
    }

    header .header_top ul li a {
        border-right: none;
    }

    .login-register-btn-mobile {
        display: block;
    }

    

    .register-left {
        text-align: center;
        color: #fff;
        margin-top: 0;
        margin-bottom: 50px;
    }

    .register-right {
        background: #f8f9fa;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .icon-text h3 {
        font-size: 18px;
    }
}


@media only screen and (max-width: 600px) {
    .navbar-dark .navbar-brand {
        color: #000;
        width: 50%;
    }

    .vdg-logbook-flow-tab-section .nav.nav-tabs li a {
        font-size: 14px;
    }
    /*#free_trial_sce
{
    display: none;
}*/

}

@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
    .Buttons_g button {
        display: none;
    }

    .Buttons_ga button {
        display: block;
        padding: 10px 18px;
        width: 100%;
    }

    .Buttons_g button {
        padding: 10px 18px;
        width: 100%;
    }

    #singup_page .sing_content .mibile_fild input {
        margin-top: 0;
    }

    #company_details, #pricing_details {
        display: none;
    }

    .social_img ul li {
        margin-right: 6px;
    }

    #singup_page .sing_title {
        padding: 30px 0;
    }

    #singup_page .sing_content {
        padding: 30px 10px;
    }

    .welcome-intro p {
        font-size: 12px;
    }

    .single-price-plan .plan-price > h2 > sup {
        font-size: 22px;
        top: -5px !important;
    }

    .billing_address {
        border: none;
        padding: 0px;
        margin-bottom: 0px;
    }

    #singup_page .sing_content form {
        padding: 40px 0 0;
    }

    #singup_page .sing_title h1 {
        margin-bottom: 5px;
    }

    footer {
        display: block !important;
    }

    .breadcrumb-area {
        height: 150px;
        z-index: 1;
    }

    .single-price-plan .plan-price > h2 {
        font-size: 28px !important;
        padding: 10px !important;
    }

    .blog_section {
        padding: 50px 0 0;
    }

    .section-heading {
        margin-bottom: 30px;
    }

    .btnRegister1 {
        font-size: 15px;
        padding: 10px 18px;
        width: 100%;
    }

    .oder1 {
    }

    .oder2 {
        order: 3;
    }

    .oder3 {
        order: 2;
    }

    .oder4 {
    }

    #featured, #quick, #how_work, #pricing, #download, #contact, footer {
        padding: 50px 0;
    }

    .section-heading > h2, .register-heading, .welcome-intro h1, #singup_page .sing_title h1 {
        font-size: 16px;
        font-weight: 600;
    }

    .single-price-plan {
        height: auto;
    }

    .single-price-plan {
        margin-bottom: 15px;
    }

    #quick .content ul li {
        position: relative;
        height: auto;
        margin-bottom: 20px;
        font-size: 13px;
    }

    #featured .single_feature .featured_content h4, .logbook-item-li h4, .logbook-admin-access-content h4 {
        height: auto;
        margin-bottom: 6px;
        font-size: 16px !important;
    }

    #featured .single_feature .featured_content p {
        height: auto;
        overflow: hidden;
    }
}
/*sibankar 16-04-2021*/


@media (max-width: 991px){
	.login_desktop {
        display: none;
}
}