
body
{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	overflow-x:hidden;
}
p
{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
ol li, ul li {
    list-style: none;
}
.p-50{
    padding: 50px 0px;
}



button,
a {
	text-decoration: none;
	outline: none;
	-webkit-transition: .4s;
	transition: .4s;
	color: #333
}

/*Header area*/
/* ******************************
:: 7.0 HEADER AREA CSS
****************************** */
@media (max-width: 991px) {
  .main:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: transparent;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s;
    transition: .3s;
  }
}


.navbar-dark .navbar-brand {
    color: #000;
    width: 20%;
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: block;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
}

/*.navbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 999;
  -webkit-transition: .3s;
  transition: .3s;
  background: transparent;
}*/

@media (max-width: 991px) {
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar .navbar-toggler {
    position: absolute !important;
    top: auto;
    right: 0;
    bottom: auto;
    left: auto;
    border: none;
    height: 100%;
    width: 3.75rem;
    background-image: none;
    border-radius: 0;
    z-index: 1;
    display: inline-block;
  }
  .navbar .navbar-toggler .navbar-toggler-icon {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    height: 3px;
    width: 50%;
    background: var(--nav-toggler-color);
    display: inline-block;
    background-image: none !important;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .navbar .navbar-toggler .navbar-toggler-icon::before, .navbar .navbar-toggler .navbar-toggler-icon::after {
    content: "";
    background: var(--nav-toggler-color);
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .navbar .navbar-toggler .navbar-toggler-icon::before {
    top: -0.625rem;
  }
  .navbar .navbar-toggler .navbar-toggler-icon::after {
    top: 0.625rem;
  }
  .navbar .navbar-toggler .navbar-toggler-icon.active {
    background-color: transparent;
    -webkit-transform: scale(0.85) rotate(270deg);
            transform: scale(0.85) rotate(270deg);
  }
  .navbar .navbar-toggler .navbar-toggler-icon.active::before {
    top: 0;
    -webkit-transform: scale(0.65) rotate(45deg);
            transform: scale(0.65) rotate(45deg);
  }
  .navbar .navbar-toggler .navbar-toggler-icon.active::after {
    top: 0;
    -webkit-transform: scale(0.65) rotate(-45deg);
            transform: scale(0.65) rotate(-45deg);
  }
  .navbar .navbar-inner {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 20rem;
    padding-top: 2.5rem;
    background-color: #fff;
    -webkit-box-shadow: 0 0.5rem 1.875rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 0.5rem 1.875rem rgba(0, 0, 0, 0.15);
    border-radius: 0;
    overflow-y: auto;
    z-index: 1050;
    right: -100%;
    -webkit-transition: right 0.3s 0.2s;
    transition: right 0.3s 0.2s;
  }
  .navbar .navbar-inner .dropdown-menu {
    border: medium none;
    background: none;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    float: none;
    margin: 0;
    padding-top: 0;
    position: static;
  }
  .navbar .navbar-inner .dropdown-menu::before {
    content: none;
  }
  .navbar .navbar-inner .navbar-toggler {
    position: absolute;
    height: 2.5rem;
    top: 0;
  }
  .navbar.active {
    display: block;
  }
  .navbar.active .navbar-inner {
    right: 0;
    background: white;
  }
}

.navbar .navbar-nav .nav-link {
    padding-right: 10px;
    padding-left: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (min-width: 992px) {
  .navbar .navbar-nav .nav-link {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
}

@media (max-width: 991px) {
  .navbar .navbar-nav .nav-link {
    border-bottom: 1px solid #eee;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}

@media (min-width: 992px) {
  .navbar .navbar-nav li:hover > ul.dropdown-menu {
    opacity: 1;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    visibility: visible;
  }
}

.navbar.navbar-sticky {
  -webkit-transition: none;
  transition: none;
}

.navbar .navbar-brand-sticky {
  display: none;
}

.navbar.navbar-sticky-moved-up {
  position: fixed;
  width: 100%;
  top: 0;
  background:#fff;
  z-index: 999;
}

.navbar.navbar-sticky-transitioned {
  -webkit-transition: .3s;
  transition: .3s;
}

.navbar.navbar-dark .navbar-nav .nav-link {
  color: #000000;
  font-weight: 600;
}

@media (max-width: 991px) {
  .navbar.navbar-dark .navbar-nav .nav-link {
    color: #54565a;
  }
  .navbar.navbar-dark .navbar-nav .nav-link:hover, .navbar.navbar-dark .navbar-nav .nav-link:focus, .navbar.navbar-dark .navbar-nav .nav-link.active, .navbar.navbar-dark .navbar-nav .nav-link.current-menu-item {
    color: var(--nav-hover-color);
  }
}

.navbar.navbar-dark .btn-outline {
  color: var(--white-color);
}

.navbar.navbar-dark.navbar-sticky-on .navbar-nav .nav-link {
  color: var(--nav-item-color);
}

.navbar.navbar-dark.navbar-sticky-on .navbar-nav .nav-link:hover, .navbar.navbar-dark.navbar-sticky-on .navbar-nav .nav-link:focus, .navbar.navbar-dark.navbar-sticky-on .navbar-nav .nav-link.active, .navbar.navbar-dark.navbar-sticky-on .navbar-nav .nav-link.current-menu-item {
  color: var(--nav-hover-color);
}

@media (max-width: 991px) {
  .navbar.navbar-dark .navbar-toggler-icon {
    background: #5ca94a;
  }
  .navbar.navbar-dark .navbar-toggler-icon::before, .navbar.navbar-dark .navbar-toggler-icon::after {
    background: #5ca94a;
  }
    .navbar.navbar-dark .navbar-toggler-icon.active::before, .navbar.navbar-dark .navbar-toggler-icon.active::after {
        background: #54565a;
    }
  .navbar.navbar-dark .dropdown.show > .nav-link {
    color: var(--nav-hover-color);
  }
}
#heading1{
    margin-bottom:20px
}
.navbar.navbar-sticky-on {
    margin-top: 0;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    background: white;
}

.navbar.navbar-sticky-on .navbar-brand-regular {
  display: none;
}

.navbar.navbar-sticky-on .navbar-brand-sticky {
  display: inline;
}

@media (min-width: 992px) {
  .navbar.navbar-sticky-on .navbar-nav .nav-link {
    padding-top: 1.625rem;
    padding-bottom: 1.625rem;
  }
}

@media (max-width: 991px) {
    .navbar.navbar-sticky-on .navbar-toggler-icon {
        background: #5ca94a;
    }
        .navbar.navbar-sticky-on .navbar-toggler-icon::before, .navbar.navbar-sticky-on .navbar-toggler-icon::after {
            background: #5ca94a;
        }
}

.dropdown .dropdown-toggle:after {
  margin-left: 4px;
  vertical-align: 1px;
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  color: var(--nav-bg-color);
  -webkit-transition: .3s;
  transition: .3s;
}

.dropdown .dropdown-menu {
  border: 0;
  padding: 0.625rem 0;
  margin: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (min-width: 992px) {
  .dropdown .dropdown-menu {
    opacity: 0;
    display: block;
    visibility: hidden;
    min-width: 14.375rem;
    margin-top: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

.dropdown .dropdown-menu:before {
  content: '';
  position: absolute !important;
  top: -10px;
  right: auto;
  bottom: auto;
  left: 10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--white-color);
}

.dropdown .dropdown-menu > li {
  padding: 0 0.625rem;
}

.dropdown .dropdown-menu .dropdown-item {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-weight: 700;
  color: var(--nav-hover-color);
  -webkit-transition: .3s;
  transition: .3s;
}

.dropdown .dropdown-menu .dropdown-item.active, .dropdown .dropdown-menu .dropdown-item:active {
  background: #f8f9fa;
}

.dropdown .dropdown-menu .dropdown-submenu {
  position: relative;
}

.dropdown .dropdown-menu .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
}

.dropdown .dropdown-menu .dropdown-submenu > .dropdown-menu:before {
  content: '';
  position: absolute !important;
  top: 30px;
  right: auto;
  bottom: auto;
  left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid var(--white-color);
}

.dropdown .dropdown-menu .dropdown-submenu .dropdown-toggle:after {
  position: absolute;
  right: 24px;
  top: 20px;
  color: var(--nav-bg-color);
}

.dropdown .dropdown-menu .dropdown-submenu:hover .dropdown-toggle:after {
  text-decoration: underline;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.dropdown-divider {
  border-color: #8d98b7;
}
/*amitava*/
input[type=submit]:focus,
button:focus,
a:hover {
	text-decoration: none;
	outline: none;
	
}

img {
	max-width: 100%;
	height: auto
}
h1 {
    font-size: 44px;
    font-weight: 600;
    line-height: 1.2;
}
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 15px;
	line-height: 1.3em;
	font-weight: 600;
	
}

html,
body {
	height: 100%
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0 1000px #fff inset!important;
}

.heading-2 {
	font-size: 48px
}

.heading-3 {
	font-size: 38px
}

.heading-4 {
	font-size: 28px
}

.text-white a,
.text-white {
	color: #fff
}

.text-green a,
.text-green {
	color: #1cc9bd
}

.text-blue a,
.text-blue {
	color: #1992ec;
}

.upper {
	text-transform: uppercase;
}

.middle-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.padding-left-50 {
	padding-left: 50px;
}

.table-cell {
	display: block;
    vertical-align: middle;
    width: 100%;
}













/*.mainmenu-area.affix .navbar-brand
{
	padding: 0;
    width: 88%;
}*/




.enquire
{
	padding-left: 15px;
}
.mainmenu-area ul.nav>li.active a
{
	color: #fff;
}
.header-area {
    background-image: url('../images/bg/header-bg.png');
}
@media (max-width:768px) {
    .header-area {
        background-image: url('../images/bg/welcome-bg.jpg') !important;
        background-position: right 100% bottom 39px;
    }

}
.header-area .banner_content {
    text-align: center;
    padding: 60px;
    position: relative;
}
.header-area .banner_content h2
{
	color: white;
	font-size: 36px;
	font-weight: bold;
}

.header-area .banner_content p
{
    font-size: 26px;
}

.header-area .banner_content .banner_btn
{
    padding: 30px 0;
}
.header-area .banner_content .banner_btn a
{
    margin-right: 10px;
}
.header-area .banner_content .banner_btn a.bttn-1
{
	background: #000046;
	border-color: #3ed3fd;
}
.header-area .banner_content .banner_mobile
{
	position: absolute;
    left: 240px;
}







footer
{
	background: #ebebeb;
	padding: 30px 0;
}

footer .store_buttons
{
    padding: 50px 0 0;
}
footer .store_buttons h4
{
	font-size: 18px;
	font-weight: bold;
	color: white;
	margin-bottom: 20px;
}
footer .store_buttons a
{
    display: inline-block;
    width: 48%;
}



#scrollUp {
    right: 30px;
    bottom: 30px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #2b8900;
    border-radius: 3px;
    color: #fff;
}







@media only screen and (max-width:1200px)
{

.enquire .bttn-1 {
    font-size: 12px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 3px;
    font-size: 12px;
    padding-left: 15px;
}

.enquire {
    padding-left: 0;
}
.mainmenu-area ul.nav>li {
    padding: 2px 6px;
}


}



@media only screen and (max-width:992px)
{
    .slicknav_menu .bttn-1
     {
            font-size: 10px;
            padding: 6px 10px;
            position: absolute;
            top: 16px;
            right: 62px;
     }
     
.slicknav_menu .mobile_logo{
    width: 60% !important;
    display: inline-block;
    margin:12px;
}
 .slicknav_menu .slicknav_btn, .slicknav_menu .bttn-1 {
     margin: 12px;
    float: right;
}

.slicknav_menu .slicknav_icon .slicknav_icon-bar:nth-child(1), 
.slicknav_menu .slicknav_icon .slicknav_icon-bar:nth-child(3)
{
	width: 70%;
    left: 10px;
}

}

@media only screen and (min-device-width:320px) and (max-device-width:767px)
{


.header-area .banner_content h2 {
    font-size: 20px;
}
.header-area .banner_content p {
    font-size: 16px;
}
.header-area .banner_content {
    text-align: center;
    padding: 60px 0;
    position: relative;
}


.header-area .banner_content .banner_mobile {
    position: relative;
    left: 0;
}
.title h2 {
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
}

.about_img
{
	text-align: center;
}
#about .content .about_content {
    padding: 80px 30px;
}

#business .business_content {
    padding-top: 0;
}
.right_side
{
	display: none;
}

#services:after
{
	display: none;
}

.order-3
{
	order: 4;
}

.order-4 {
    order: 3;
}

#blog {
    padding: 50px 0;
}


.title {
    margin-bottom: 0;
    width: 100%;
}

#about .content .about_content h4 {
    font-size: 14px;
}






#blog .single_blog h3 {
    font-size: 16px;
}
#blog a.get {
    margin-top: 0;
}
#ready .conent span
{
	display: none;
}

#ready .conent {
    text-align: center;
}
#ready .write_us
{
	text-align: center;
}


footer .store_buttons {
    padding: 30px 0;
}


#singup_page .sing_title p {
    display:none;
}
}

/*new css*/

        
         
         .feature-radius
		{
			border-radius: 40px;
			border: 1px solid #2b8900;
			background: #2b8900;
         padding: 5px;
         max-width: 200px;
			margin: 15px auto;
      }
      .right-img {
    position: absolute;
    right: 0;
    margin-top: 220px;
}
.left-img {
    position: absolute;
    left: 0;
    margin-top: 215px;
}


.image-white {
    filter: brightness(0) invert(1);
}
.feature-sale
{
	background: url(../images/bg1.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x:hidden;
}



.feature-sale .content
{
	padding: 20px 0 120px 0px;
}
.hr-content{
   padding-top:100px ;
}
.feature-re{
	background: url(../images/bg2.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x:hidden;
}
.feature-re .content
{
	padding: 100px 0 120px 0px;
}
.re-content{
   padding-top: 150px;
}
.legal-content{
   padding-top: 100px;
}
#ready
{
	background: url(../images/quote-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}
#ready .conent
{
   position: relative;
   padding-top: 20px;
}
#ready .conent h4
{
	font-size: 30px;
	color: white;
	line-height: 20px;
}

#ready .conent p
{
	font-size: 14px;
	color: white;
	line-height: 20px;
}

#ready .conent span
{
	position: absolute;
    right: 30px;
    top: 0;
}
#ready .write_us
{
	text-align: right;
}
#ready a.btn_1
{
	display: inline-block;
    width: auto;
    padding: 10px 30px;
}
.btn_1{
   background-color: #2b8900;
   padding: 20px 40px;
   color: #fff;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 18px;
   border: none;
}
.template_faq {
    background: #edf3fe none repeat scroll 0 0;
}
.panel-group {
    
    border-radius: 3px;
    
    margin-bottom: 0;
    padding: 30px 0px;
}
#accordion .panel {
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    margin: 0 0 15px 10px;
}
#accordion .panel-heading {
    border-radius: 30px;
    padding: 0;
}
#accordion .panel-title a {
   
    
    
    color: #2b8900;
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 0px 20px 0px 50px;
    position: relative;
    transition: all 0.3s ease 0s;
}
#accordion .panel-title a.collapsed {
    
   
    color: #000000;
}
#accordion .panel-title a::after, #accordion .panel-title a.collapsed::after {
    background: #2b8900 none repeat scroll 0 0;
    
    border-radius: 50%;
    
    color: #fff;
    content: "";
    font-family: fontawesome;
    font-size: 0px;
    height: 15px;
    left: 9px;
    line-height: 55px;
    position: absolute;
    text-align: center;
    top: 8px;
    transition: all 0.3s ease 0s;
    width: 15px;
}
#accordion .panel-body p::before{
    background: #666666;

    content: "";
    font-family: fontawesome;
    font-size: 0px;
    height: 140%;
    left: 15px;
    
    position: absolute;
    
    top: 8px;
    transition: all 0.3s ease 0s;
    width: 3px;
}
#accordion .panel-title a::before, #accordion .panel-title a.collapsed::before {
    background: #666666;
    
    
    
   
    content: "";
    font-family: fontawesome;
    font-size: 0px;
    height: 148%;
    left: 15px;
    
    position: absolute;
    
    top: 8px;
    transition: all 0.3s ease 0s;
    width: 3px;
}
.last_item::before{
    background: #666666;
    
    
    
   
    content: "";
    font-family: fontawesome;
    font-size: 0px;
    height: 150%;
    left: 15px;
    
    position: absolute;
    
    top: 8px;
    transition: all 0.3s ease 0s;
    width: 0px !important;
}
#accordion .panel-title a.collapsed::after {
    background: #666666;
    
}
#accordion .panel-body {
    background: transparent none repeat scroll 0 0;
    border-top: medium none;
    padding: 0px 25px 0px 9px;
    position: relative;
}
#accordion .panel-body p {
    
  margin-bottom: 0;
   padding: 0px 5px 0px 40px;
   font-weight: 300;
    font-size: 14px;
   

}

#accordion-1 .panel {
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    margin: 0 0 15px 10px;
}
#accordion-1 .panel-heading {
    border-radius: 30px;
    padding: 0;
}
#accordion-1 .panel-title a {
   
    
    
    color: #2b8900;
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 0px 20px 0px 50px;
    position: relative;
    transition: all 0.3s ease 0s;
}
#accordion-1 .panel-title a.collapsed {
    
   
    color: #000000;
}
#accordion-1 .panel-title a::after, #accordion-1 .panel-title a.collapsed::after {
    background: #2b8900 none repeat scroll 0 0;
    
    border-radius: 50%;
    
    color: #fff;
    content: "";
    font-family: fontawesome;
    font-size: 0px;
    height: 15px;
    left: 9px;
    line-height: 55px;
    position: absolute;
    text-align: center;
    top: 8px;
    transition: all 0.3s ease 0s;
    width: 15px;
}
#accordion-1 .panel-body p::before{
    background: #666666;
    
    
    
   
    content: "";
    font-family: fontawesome;
    font-size: 0px;
    height: 140%;
    left: 15px;
    
    position: absolute;
    
    top: 8px;
    transition: all 0.3s ease 0s;
    width: 3px;
}
#accordion-1 .panel-title a::before, #accordion-1 .panel-title a.collapsed::before {
    background: #666666;
    
    
    
   
    content: "";
    font-family: fontawesome;
    font-size: 0px;
    height: 148%;
    left: 15px;
    
    position: absolute;
    
    top: 8px;
    transition: all 0.3s ease 0s;
    width: 3px;
}
#accordion-1 .panel-title a.collapsed::after {
    background: #666666;
    
}
#accordion-1 .panel-body {
    background: transparent none repeat scroll 0 0;
    border-top: medium none;
    padding: 0px 25px 0px 9px;
    position: relative;
}
#accordion-1 .panel-body p {
    
  margin-bottom: none !important;
   padding: 0px 5px 0px 40px;
   font-weight: 300;
    font-size: 14px;
   

}

.collapse.in {
    display: block;
    visibility: visible;
}
.faq-bg{
   background: url(../images/faq-bg.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	
}
.Answers{
   margin-bottom: 0px !important;
}
.faq-img{
   padding-top: 40px;
}
/*amitava*/
.faq-content{
   padding-top: 30px;
   padding-bottom: 30px;

}

.left-content h2{
         
            font-weight: 400;
           
         }
         .left-content h1,h2{
            margin-bottom: 5px;
         }
        
/*our team*/
.single-team{
    background-color: #f5f5f5;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.04);
}
.team-title{
    text-transform: uppercase;
    color:#2b8900;
}
.team-boxed .owl-theme .owl-dots .owl-dot.active span{
    
    background-color:#2b8900 !important;
}
.team-boxed .owl-prev,
.owl-next {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  
}

.team-boxed .owl-prev {
  left: -40px !important;
}

.team-boxed .owl-next {
  right: -40px;
}
.team-member{
    width: 130px !important;
    margin: auto;
    margin-bottom: 20px;
}
.italic{
    font-weight: bold;
font-style: italic;
text-transform: capitalize;
}
.team-boxed .social img{
    width: 20px !important;
    margin: auto;
}
.team-boxed .social1 img{
    width: 20px !important;
    margin: auto;
    margin-top: 30px;
}




.last-feature{
   display: none;
}
.readweb{
   display: block;
   position: absolute !important;
   bottom: 20% !important;
   left: 40%;
   font-weight: 600;
}
.readmobile{
   display: none;
}
.feature-img{
   width: 120px;
   height: 120px;
   margin: 40px 0px;
}
/* .feature-card{
   height: 280px;
} */
.feature .row{
    margin-top: 50px;
}
/* .feature-description{ */
    /* display: block;	 */
    /* position: absolute; */
    /* top: 50%; */
	
/* } */
.feature-heading{
    font-size: 20px;
}
a.readweb:hover{
    color: #2b8900;
}

/*blog start*/
.blog_section
{
  padding: 100px 0;
}





.blog_section .und-blle h2 {
    color: #2b8900;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    text-align: left;
    padding: 10px 0px 20px 0px;
    margin: 0px 0px 0px 0px;
}

.blog_section .inner-bl h1
{
    font-size: 22px;
    font-weight: bold;
}
.blog_section .blog-content p
{
    font-size: 16px;;
}

.blog_section .und-blle p {
    color: #474343;
    font-weight: 400;
    text-align: left;
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
}


.blog_section .undIm img {
    width: 100%;
    
}
.blog_section .und-blle a {
    
    background: linear-gradient(to right,#26994e,#6eb94d);
    padding: 12px 24px;
    margin: 10px 0px;
    color: #FFF;
    font-size: 14px;
    font-weight: 200;
    text-decoration: none;
    float: left;
    text-transform: uppercase;
    border: 0px;
   
    display: block;
}

.blog_section .bl-lefo {
    width: 100%;
    padding: 0 0px 20px 0px;
    margin: 0px;
    display: inline-block;
}

.blog_section .und-blle {
    display: inline-block;
    padding: 0px;
    margin: 0px 0px 20px 0px;
    width: 100%;
}

.blog_section .undIm {
    display: block;
    margin-bottom: 15px;
}
.blog_section .bogRight .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #2b8900;
    border-radius: .25rem;
    height: auto !important;
}
.blog_section .my-4 h5 {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    text-align: left;
    padding: 10px;
    margin: 0px 0px 0px 0px;
    text-transform: uppercase;
    font-weight: 500;
    background: linear-gradient(to top,#37a04e,#69b74d);
}

.blog_section .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.blog_section .input-group-addon, .blog_section .input-group-btn {
    position: absolute;
    white-space: nowrap;
    vertical-align: middle;
    top: 0;
    right: 0;
    z-index: 99;
    background: #4aa54c;
    color: white;
}
.blog_section .input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.blog_section .my-4 li a {
    color: #929497;
    font-size: 14px;
    font-weight: 200;
    text-decoration: none;
}
.blog_section .my-4 li span {
    display: inline-block;
    margin-right: 8px;
}

.blog_section .my-4 li a {
    color: #505050;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}
.blog_section .my-4 li span {
    display: inline-block;
    margin-right: 8px;
}
.blog_section .my-4 li {
    padding: 5px 0px;
    margin-bottom: 5px;
    border-bottom: 1px dashed #CCC;
    text-align: left;
}

.blog_section .my-4 ul {
    display: block;
    padding: 10px;
    margin: 0px;
    list-style: none;
}
.blog_section .blog_section .card-body  input
{
  position: relative;
}
.blog_section .blog_section .card-body span button
{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    background: #dee2e6;
}
.blog_section .inner-bl .blgBk {
    background: linear-gradient(to right,#26994e,#6eb94d);
    padding: 11px 24px;
    margin: 45px 0px;
    color: #FFF;
    font-size: 14px;
    font-weight: 200;
    text-decoration: none;
    float: left;
    text-transform: uppercase;
    border: 0px;
    cursor: pointer;
    
    display: block;
}

.blog_section .blog-content {
    margin-top: 20px;
}

.blog_section .socl a {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}

.blog_section .socl {
    margin: 10px 0 30px;
}


.blog_section .inner-bl
{
  display: none;
}



.blog_section .searchmobile{
  display:none;
}
.blog_section .searchdekstop{
  display:block;
}
/*blog end*/



.inner_page{
    
    background: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 140px 0 110px;
    text-align: center;
    background-size: cover;
}
.inner_page h1{
    font-weight: 700;
    font-size: 40px;
    margin-top: 50px;
}

/*enquire*/

.register{
    background: #fff;
    padding: 6% 3%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left h3
{
    color: white;
}


.register-left .login_button{
    border: none;
    border-radius: 0;
    padding: 10px 40px;
    width: auto;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 20px;
    cursor: pointer;
    display: inline-block;
}
.register-right{
    background: -webkit-linear-gradient(top, #2b8900, #77db49);;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 4% 5%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #2b8900;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}

.btnRegister1
{
    border: none;
    border-radius: 0;
    padding: 14px 50px;
    background: #2b8900;
    color: #fff;
    font-weight: 600;
    display: inline-block;
    cursor: pointer;
}
.btnRegister1:hover
{
    color: white;
}

.billing_address
{
    display: none;
}

.maxl h4 span
{
     font-weight: normal;
     font-size: 14px;
}

.maxl label {
    display: inline-block;
    margin-bottom: .5rem;
    padding-right: 14px;
}

.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #2b8900;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #2b8900;
    border: 2px solid #2b8900;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
   text-align: center;
    margin-top: 8%;
    margin-bottom: 0;
    color: #fff;
    font-size: 20px;
}



.register .form-control {
  font-size: 15px;
  height: 60px;
  border: none;
  outline: none;
  padding: 20px;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.register .form-control:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}


/*media query*/
@media (min-width: 1700px){
    .header-area{
       background-size: 100% 100% !important;
       
       margin-bottom: none !important;
       
 }
 .left-content{
             margin-top: none !important;
          }
    }
 
 @media (min-width: 768px) and (max-width: 992px){
    .hr-content {
     padding-top: 30px;
 }
 .re-content {
     padding-top: 80px;
 }
 .legal-content {
     padding-top: 0px;
 }
 #ready a.btn_1{
    margin-top: 30px;
 }
 #ready .conent span{
    display: none;
 }
 
 }
@media (max-width: 991px){
    .feature-img
{
    padding: 20px;
    width: 100px !important;
    height: 94px !important;
    margin: 0px;
}
.z-depth-2
{
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)!important;
    height: 90px;
    width: 90px;
    margin: auto;
    transform: translateY(50px);
    background-color: #fff;
    }
    .feature-card{
        background-color: #f8f8f8;
        box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)!important;
        border-radius: 10px;
        padding: 20px;
        height: 275px;
        overflow: hidden;
        

    }
    /* .feature-description{
        display: none	;
    } */
    .feature-bg container{
        margin: 0px 55px !important;
    }
    .feature-heading{
       padding-top: 60px;
       font-size: 18px;
       color: #666666;
    }
    .faq-bg{
   background: none;
    
}
.faq-img{
   display: none;
}
.section-title{
   padding-left: 0px;
   text-align: center !important;
}
.right-img{
   display: none;
}
.left-img{
   display: none;
}
.left-content{
            margin-top: 40px;
         }
         .left-content h2{
            font-size: 20px;
            font-weight: 400;
           

         }
         .left-content h1{
            font-size: 25px;
           

         }
         .header-area {
    margin-bottom: 0px;
    background-size: cover !important;
}
.last-feature{
   display: block !important;
}
.last-feature .feature-card{
   background-color: #2b8900;
   
}
.last-feature .feature-heading{
   color: #fff;
   margin-bottom: 5px;
   font-weight: 400;
}
.last-feature a{
   color: #fff;
   font-size: 20px;
   font-weight: 600;
   letter-spacing: 1px;
}
.section-title {
     padding-left: 0px !important   ;
}
.faq-bg{
   background: none !important;
}
.readweb{
   display: none !important;
}
.readmobile{
   display: block !important;
   position: absolute !important;
   bottom: 6% !important;
   left: 45%;
}

  
    .searchmobile{
      display:block!important;
          position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #2b8900;
        border-radius: .25rem;
        height: auto !important;
    }
    .searchdekstop{
      display:none!important;
    }
    .btn_1 {
        background-color: #2b8900;
        padding: 15px 25px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        border: none;
    }
    

}
@media (max-width: 767px){
    .feature .row{
        margin-top: 0px;
    }
    .feature-sale{
      background: #2b8900 !important;
   }
   .feature-hr{
      background: #2b8900 !important;
   }
   .feature-re{
      background: #2b8900 !important;
   }
   .feature-legal{
      background: #2b8900 !important;

   }
   .sale-content{
      color: #fff !important;
      padding: 20px 30px !important;
   }
   .hr-content{
      color: #fff !important;
      padding-top: 20px !important;
   }
   .re-content{
      color: #fff !important;
      padding: 20px 30px !important;
   }
   .legal-content{
      color: #fff !important;
      padding-top: 20px !important;
   }
   .feature-sale .content {
    padding: 20px 0 20px 0px;
}
.feature-re .content {
    padding: 20px 0 20px 0px;
}

.inner_page h1{
    
    font-size: 40px;
}
.inner_page{
    padding: 100px 0px;
}
}
 @media (min-width: 993px) and (max-width: 1200px){
    .left-content {
margin-top: 50px;
}
.left-content h1{
font-size: 30px;
}
.left-content h2{
font-size: 25px;
}

.readweb {
    display: block;
    position: absolute !important;
    bottom: 14% !important;
    left: 40%;
    font-weight: 600;
}
 }         
@media (max-width: 425px){
.owl-nav{
display: none;
}
}
/*amitava*/
@media (min-width: 576px) and (max-width:991px){
    .slicknav_menu .mobile_logo{
        width: 40% !important;
        display: inline-block;
    }
}





.left-content .content h1{
	font-weight: bold;
}

.left-content .content h2:first-of-type {
    font-weight: 200;
}

.feature-heading{
	font-weight: bold;

}

.feature-description{
	color: rgb(102, 102, 102); 
	line-break: anywhere;
	    width: 95%;
    margin: 0 auto;
}


.readweb{
	color: #2b8901
}


.feature-heading {
    font-weight: bold;
    text-transform: capitalize;
	 font-size: 18px;
}
@media (min-width: 991px){
.feature-heading {
 height: 50px;
}
}


.content h2{
	font-weight:600;
	letter-spacing: 2px;
}

	
.before-none::before{
width: 0px !important;
}

/*amitava*/
@media (min-width: 577px)  and (max-width: 767px){
.readmobile {
   
    left: 48%;
}
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 999;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);

  }
  @media (max-width :991px){
  .slicknav_menu .slicknav_nav {
 
    top: 10px;
}
  }

@media (max-width:767px){
    footer .contact_details h4 {
        font-size: 24px;
     
        text-align: center;
    }   
}
  @media (min-width: 768px) and (max-width: 991px){
    
footer .contact_details .details a{
	font-size: 14px !important;
    }
}
@media (max-width: 991px){
  .p-50 {
    padding: 20px 0px;
}
}


@media  (max-width: 767px) {
footer .store_buttons {
    text-align: center;
}
.footer_logo{
    text-align: center;
}
}
@media (max-width: 767px){
    footer .contact_details .details {
        text-align: center;
    }
    }
@media (min-width: 991px) and (max-width: 1200px){
    #ready .conent span {
        position: absolute;
        right: 0;
        top: 0;
    }
}


/*style for veridoc certificate*/
@media (min-width: 991px) {
    .right-mob img {
        transform: translateY(60px);
        margin-left: 50px;
        max-width: 450px;
    }
}

 header{
     background-color: #fff;
     color: #000000;
 }
 .navbar-brand {
    width: 250px;
}
.navbar-brand img{
    width: 100%;
 }
 
p{
    margin: 0px ;
}


/*get in touch*/
.section-title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0px auto;
    margin-bottom: 30px;
}





/*footer*/
/* Footer */



/* #footer {
    background: #fff !important;
} */
#footer h5{
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#000;
    font-weight: 700;
    font-size: 25px;
}
#footer a {
    color: #4c4c4c;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
    color:#4c4c4c;
    font-size: 18px;
}
#footer ul.social li a:hover{
	color:#2b8900;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}
@media (max-width:768px) {
    .right-mob {
        
        margin: 20px auto;
    }

}
    @media (max-width:767px) {
        #footer h5 {
            padding-left: 0;
            border-left: transparent;
            padding-bottom: 0px;
            margin-bottom: 10px;
        }
        .right-mob {
            margin-top: 50px;
         
            height: auto;
           
        }
       
        .feature .btn-1 {
            margin-top: 30px;
        }

        .app-store-icon {
            margin-bottom: 20px;
        }
    }

    .app-store-icon img {
        width: 140px;
        padding-right: 10px;
    }


    @media (min-width: 992px) {
        .affix-top {
            margin-top: 0;
            top: 40px;
        }

        .fixed-top-contact {
            background: #4ca54c;
            padding: 10px 5px;
        }
    }




    .feature-description {
        font-weight: 400;
    }

    @media (max-width: 991px) {
        .feature-description {
            padding-top: 5px;
        }
    }

    @media (max-width: 991px) {
        .fixed-top-contact {
            display: none;
        }
    }

    /*how it works*/

    .access a {
        padding: 10px 20px;
        font-size: 18px;
        font-weight: 600;
        color: #000;
        border: 1px solid #e7e5e5;
        text-transform: capitalize;
        border-bottom: none;
        margin: 0 15px;
        background: lightgray;
    }

    @media (max-width:374) {
        .access a {
            width: 50%;
        }
    }

    .access {
        border-bottom: 1px solid #e7e5e5;
    }

    .first-chart {
        margin-top: 100px;
    }

    .number, .number1 {
        font-size: 80px;
        color: #e5e5e5;
        padding-right: 40px;
    }

    @media (min-width: 991px) {
        .number::after {
            content: '';
            position: absolute;
            background-color: #24984e;
            width: 4px;
            height: 60px;
            top: 5%;
            left: 25%;
        }
    }

    @media (min-width: 991px) {
        .number1::after {
            content: '';
            position: absolute;
            background-color: #24984e;
            width: 4px;
            height: 60px;
            top: 18%;
            right: 20%;
        }
    }

    .content-chart {
        padding-left: 40px;
        margin-top: 25px;
    }

        .content-chart h4 {
            color: #0d3452;
            font-weight: 600;
            text-transform: capitalize;
        }

        .content-chart p {
            padding-bottom: 40px;
        }

        .content-chart img {
            width: 200px;
            height: auto;
        }

.social-links {
    list-style: none;
    margin: 0;
    padding: 20px 0 0 10px;
}

        .social-links li {
            display: inline-block;
        }

            .social-links li a i {
                background-color: #000;
                width: 35px;
                height: 35px;
                line-height: 35px;
                text-align: center;
                border-radius: 50%;
                color: #fff;
                font-size: 20px;
            }

    /*pricing*/

    @media (max-width:767px) {
        .header-area {
            height: auto;
        }
    }

    @media(min-width: 768px) and (max-width: 991px) {
        .footer-logo {
            width: 50%
        }
    }
    /*13.04.2021*/
    #quick {
        padding: 100px 0;
    }

        #quick .section-heading h2, #how_work .section-heading h2, #download .section-heading h2, #logblook_business .section-heading h2 {
            color: #4ca54c;
        }

        #quick .content {
            padding: 30px 0 0;
        }

            #quick .content ul {
                padding-left: 40px;
                list-style: none;
            }

                #quick .content ul li {
                    position: relative;
                    height: 90px;
                }


                    #quick .content ul li:before {
                        font-family: "FontAwesome";
                        content: "\f00c";
                        position: absolute;
                        top: -2px;
                        left: -38px;
                        font-size: 22px;
                        color: #000;
                    }

    #featured {
        background: rgba(0, 0, 0, 0) url(../images/bg/welcome-bg.jpg) no-repeat scroll center center/cover;
        padding: 100px 0;
    }

        #featured .section-heading h2, #pricing .section-heading h2, #contact .section-heading h2 {
            color: white;
        }

        #featured .single_feature {
            margin-bottom: 30px;
        }

            #featured .single_feature .feature_img {
                margin-bottom: 30px;
            }

            #featured .single_feature .featured_content h4 {
                color: white;
                height: 40px;
                margin-bottom: 20px;
            }

            #featured .single_feature .featured_content p {
                color: white;
                overflow: hidden;
            }

    .feature_img img {
        width: auto;
        margin: 0px auto;
        height: 120px;
    }



    /*Use cases*/
    #logblook_business {
        background: url(../images/bg/green_bg.png);
    }




        #logblook_business .single_feature {
            margin: 0 20px 30px;
        }

            #logblook_business .single_feature .feature_img {
                margin-bottom: 50px;
            }


                #logblook_business .single_feature .feature_img img {
                    width: auto;
                    margin: 0 auto;
                    height: 120px;
                }

            #logblook_business .single_feature .featured_content h4 {
                height: 40px;
                color: #0e3764;
                font-weight: 600;
                margin-bottom: 40px;
            }

            #logblook_business .single_feature .featured_content p {
                overflow: hidden;
            }

    #how_work, #download, #logblook_business {
        padding: 100px 0;
    }

    .section-heading > h2 {
        position: relative;
        font-size: 32px;
        font-weight: 600;
    }
    /*pricing*/
    #pricing {
        background: rgba(0, 0, 0, 0) url(../images/bg/welcome-bg.jpg) no-repeat scroll center center/cover;
        padding: 100px 0;
    }

        #pricing .section-heading h2 {
            margin-bottom: 20px;
        }

        #pricing .section-heading p {
            color: white;
        }

        #pricing .plan-price {
            height: 64px;
            overflow: hidden;
        }

    .single-price-plan .plan-button a {
        background: #2c9b57;
        color: #ffffff;
        display: block;
        border-radius: 0;
    }


    .single-price-plan {
        background-color: #fff;
    }

    .single-price-plan {
        margin-bottom: 50px;
        height: 500px;
        padding: 20px 0;
    }

    .section-heading {
        margin-bottom: 60px;
    }
.single-price-plan .plan-price > h2 > sup {
    font-size: 20px;
    top: -16px;
}
.single-price-plan .plan-price > h2 > sub {
    font-size: 20px;
    bottom: 0;
}
.plan-features1{
    height:60px;
    padding:0;
}


.single-price-plan .plan-price > h2 {
    font-size: 3em;
    background: #ffffff;
    color: #399b4a;
}

    .fw-7 {
        font-weight: 700;
    }

    .plan-description .plan-features li.border-bottom {
        color: black;
        font-weight: bold;
    }

    .plan-description {
        padding: 0 10px;
    }

    .plan-features {
        height: 80px;
        padding: 0;
    }
    /*contact*/
    #contact {
        background: rgba(0, 0, 0, 0) url(../images/bg/welcome-bg.jpg) no-repeat scroll center center/cover;
        padding: 100px 0;
    }

    .contact-us .social-icon {
        display: inline-block;
        height: 45px;
        min-width: 45px;
        line-height: 22px;
        font-size: 20px;
        text-align: center;
        background-color: #866d6d00;
        color: #ffffff;
        border-radius: 4px;
        padding-top: 5px;
    }

    .contact-us ul li {
        margin-bottom: 5px;
    }

    .contact-box .form-group input, .contact-box .form-group textarea {
        font-size: 14px;
        height: 50px;
        padding: 0 15px;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }

    .contact-box .form-group textarea {
        height: 160px;
        padding: 15px;
    }

    .contact-box button {
        height: 40px;
        width: auto;
        color: #4ca54c !important;
        text-align: center;
        border-radius: 0px;
        background: #ffffff !important;
        font-size: 16px;
    }
    /*protect-certificate*/
    .protect-certificate h4 {
        color: #2c9b57;
        font-weight: bold;
        margin: 0 auto 30px auto;
    }

    .protect-certificate {
        padding: 100px 0;
    }

        .protect-certificate p {
            margin: auto;
        }

    @media (min-width:991px) {
        .protect-certificate h4, .protect-certificate p {
            width: 60%;
        }
    }

    .single-contact i {
        padding-top: 5px;
        color: #2c9b57;
        margin-right: 20px;
        font-size: 21px;
    }

    element.style {
    }

    li.py-3.fonttt {
    }

    li.py-3.fonttt {
        font-size: 13px;
    }






    #singup_page {
        background: url(../images/bg/welcome-bg.jpg);
        background-size: cover;
        text-align: center;
        padding-bottom: 60px;
    }

        #singup_page .sing_img {
            margin: 0 auto;
        }

        #singup_page .sing_content {
            background-color: white;
            text-align: left;
            padding: 30px;
        }

        #singup_page .sing_title {
            padding: 60px 0;
        }

            #singup_page .sing_title h1 {
                color: white;
                font-weight: normal;
                font-size: 34px;
                margin-bottom: 20px;
            }

            #singup_page .sing_title p {
                color: white;
            }

        #singup_page .sing_content .box_heading {
            border-bottom: 2px solid #169a3b;
            margin-bottom: 30px;
        }

            #singup_page .sing_content .box_heading h4 {
                color: #169a3b;
                font-size: 16px;
                margin-bottom: 10px;
            }

        #singup_page .sing_content form {
            padding: 40px 0;
        }

            #singup_page .sing_content form label {
                margin-bottom: 12px;
            }

        #singup_page .sing_content .mibile_fild input {
            margin-top: 30px;
        }

        #singup_page .sing_content .mibile_fild span {
            font-size: 12px;
            margin-top: 8px;
            display: block;
        }


        #singup_page .form-group input, #singup_page .form-group select {
            border: 1px solid #e1e1e1;
        }


        /*radio checkbox*/
        #singup_page input[type='radio']:after {
            width: 15px;
            height: 15px;
            border-radius: 15px;
            top: -2px;
            left: -1px;
            position: relative;
            background-color: #d1d3d1;
            content: '';
            display: inline-block;
            visibility: visible;
            border: 2px solid white;
        }

        #singup_page input[type='radio']:checked:after {
            width: 15px;
            height: 15px;
            border-radius: 15px;
            top: -2px;
            left: -1px;
            position: relative;
            background-color: #2b9a56;
            content: '';
            display: inline-block;
            visibility: visible;
            border: 2px solid white;
        }


    /*modal*/

    .note_modal .modal-dialog {
        max-width: 250px;
        margin: 7.75rem auto;
    }

    .note_modal .modal-header {
        text-align: center;
        display: block;
        border: none;
    }

    .note_modal .modal-body {
        text-align: center;
    }

    .note_modal .modal-title {
        margin-bottom: 0;
        line-height: 1.5;
        font-size: 20px;
        font-weight: 500;
        color: #1c9c44;
    }

    .note_modal .modal-footer {
        border: none;
        margin: 0 auto;
    }

    .note_modal .modal-body label {
        color: #1c9c44;
    }

    .note_modal .modal-body textarea {
        border-radius: 0;
    }

    .note_modal .modal-content {
        border-radius: 0;
        padding: 20px;
    }

    .note_modal .modal-footer button {
        display: inline-block;
    }

        .note_modal .modal-footer button.btn_cancel {
            background: linear-gradient( 45deg, #4ca54c, #74bb47);
            border: none;
            padding: 8px 25px;
            color: white;
        }

    .note_modal .enq-dialog {
        max-width: 500px;
    }

        .note_modal .enq-dialog .modal-body input, .note_modal .enq-dialog .modal-body textarea {
            background: #f2f2f2;
        }

    .mail-icon {
        font-size: 40px;
        /* text-align: center; */
        border: 2px solid green;
        width: 40%;
        border-radius: 50%;
        margin: auto;
        color: green;
        margin-bottom: 10px;
    }



    /*15-04-2021*/
    @media (max-width:990px) {
        #benefits_img {
            display: none;
        }
    }
.banner-content{
    max-width:485px !important;
    margin:auto;
}

.single-price-plan .plan-title > h4 {
    color: #0e3553;
}
#footer .social-links li{
    margin-right:10px;
}
@media (max-width: 991px) {
    .footer  .media {
        margin-bottom: 20px;
        align-items: center !important;
        flex-direction: column !important;
    }
    .footer{
        text-align:center;
    }
}

.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}
 .footer  .social-icon {
    background-color: #4ca54c00;
    color: #4ca54c;
}
.footer .social-icon {
    display: inline-block;
    height: 35px;
    width: 45px;
   
    font-size: 18px;
    text-align: center;
    background-color: #866d6d00;
    color: #4ca54c;
    border-radius: 4px;
}

@media (min-width:992px) {
    .footer .media p {
        width: -webkit-fill-available;
    }
}