.header-area {
	width: 100%;
	height: 500px;
padding-top:40px
	background-size: 100% auto;
	background-position: bottom center;
	background-repeat: no-repeat;
	display: table;
	z-index: 1
}

.header-area.v2 {
	background-size: 100% 100%
}

.overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}



.navbar-brand {
	padding-top: 10px;
}

.mainmenu-area {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	padding: 20px 0;
	white-space: nowrap;
	z-index: 9999;
	-webkit-transition: .3s;
	transition: .3s;
	background: #fff;
	color: #000;
}

.mainmenu-area.affix {
	position: fixed;
	background: #fff;
	padding: 10px 0;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.mainmenu-area.affix.menu2 {
	background-color: #833ce0
}

.mainmenu-area ul.nav>li {
	padding: 2px 8px;
}

.mainmenu-area ul.nav>li>i {
	display: inline-block;
	position: relative;
	top: 3px;
	color: #fff;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transition: .3s;
	transition: .3s;
}

.mainmenu-area ul.nav>li:hover>i {
	top: -3px;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #4ca54c;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #4ca54c;
}

.mainmenu-area ul.nav>li>a {
	
    display: inline-block;
   
    
    position: relative;
	padding: 15px 0;
	font-size: 18px;
	font-weight: 300;
	  color: rgb(255, 255, 255);
	   
}

 

.mainmenu-area ul.nav>li>a:focus,
.mainmenu-area ul.nav>li>a:hover {
	background: 0 0
}

.mainmenu-area ul.nav>li:hover>a:after {
	width: 50%
}

.mainmenu-area ul.nav>li.active>a:after {
	width: 100%
}

.mainmenu-area ul li {
	position: relative
}

.mainmenu-area ul ul {
	list-style: none;
	margin: 0;
	padding: 10px;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #e9f4fb
}

.mainmenu-area ul ul li {
	display: block;
	min-width: 200px
}

.mainmenu-area ul ul li i {
	position: absolute;
	right: 10px;
	top: 13px;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transition: .3s;
	transition: .3s
}

.mainmenu-area ul ul li:hover>i {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg)
}

.mainmenu-area ul ul li a {
	display: block;
	padding: 5px 15px;
	font-size: 14px;
	font-weight: 700
}



.mainmenu-area ul ul.sub-menu {
	position: absolute;
	left: 0;
	top: calc(100% + 30px);
	opacity: 0;
	visibility: hidden;
	z-index: 9;
	-webkit-transition: .3s;
	transition: .3s
}

.mainmenu-area ul ul.sub-menu ul.sub-menu {
	left: 100%;
	top: 30px
}

.mainmenu-area ul li:hover>ul.sub-menu {
	top: 100%;
	opacity: 1;
	visibility: visible
}

.mainmenu-area ul ul li:hover>ul.sub-menu {
	top: 0
}

.mainmenu-area ul.nav>li:nth-last-child(3) ul.sub-menu ul.sub-menu,
.mainmenu-area ul.nav>li:nth-last-child(2) ul.sub-menu ul.sub-menu,
.mainmenu-area ul.nav>li:last-child ul.sub-menu ul.sub-menu {
	left: auto;
	right: 100%
}

.mainmenu-area ul.nav>li:nth-last-child(3) ul.sub-menu>li:hover>i,
.mainmenu-area ul.nav>li:nth-last-child(2) ul.sub-menu>li:hover>i,
.mainmenu-area ul.nav>li:last-child ul.sub-menu>li:hover>i {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg)
}




.title {
	position: relative;
    
    text-align: center;
    width: 100%;
}

.title:after {
	content: "";
    position: absolute;
    left: 50%;
    top: -20px;
    width: 60px;
    height: 3px;
    display: block;
    background-color: #1cb5e0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 5px;
}


#services .title {
    margin-bottom: 80px;
}

.title h2
{
	font-size: 35px;
	font-weight: bold;
	line-height: 41px;
}
.title p
{
	color: #4c4c4c;
	line-height: 25px;
	font-size: 16px;
}
/*amitava*/
@media (max-width: 576px){
	.feature-body{
		width:75%;
		margin: 0 auto;
	}
}

.btn-1{
	font-size: 18px;
	padding: 10px 20px;
	color: #fff;
	background-color: #4ca54c;
}
.btn-2{
    font-size: 18px;
    padding: 10px 20px;
    color: #4ca54c;
    background-color: #fff;
    font-weight: 600;
}
.btn-3{
	background: linear-gradient(to right,#25984e,#70ba4d);
	border: 0px;
	cursor: pointer;
	font-size: 16px;
	-webkit-transition: .4s;
    transition: .4s;
    padding: 15px;
    color:#fff;
    font-size: 16px;
    
    text-transform: capitalize;
}
.btn-1:hover{
	color: white;
}
.btn-2:hover{
	color:#4ca54c;
}
.btn-3:hover{
	color: white;
}

